.noBookmark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__image {
    width: 10rem;

    @media screen and (min-width: 768px) {
      width: 15rem;
    }
  }

  &__text {
    color: var(--color-white);
    margin: 0;
    font-size: 2rem;
  }
}
