.header {
  &__item {
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-blue-200);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      fill: var(--color-white);
    }

    &--active {
      fill: var(--color-white);
    }
  }
}
